
/*Контент сайта*/
.dynamic_info{
	float: left;
}
.content_header{
	display: inline-block;
	color: #3ba8c0;
	margin: 0;
	padding: 12px 12px 12px 25px;
	border-bottom: 2px solid #3ba8c0;
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
    font-style: normal;
}
.aboutbox{
	width: 650px;
	margin: 20px 0 0 60px;
	background-color: #eff3f7;
	border-radius: 4px;
}
.aboutbox:first-child{
	margin: 40px 0 0 60px;
}
.aboutbox:last-child{
	margin: 20px 0 40px 60px;
}
.aboutbox-item{
    color: #4a545d;
    margin-bottom: 20px;
    font-family: 'fira_sanslight';
	font-weight: normal;
	font-style: normal;
}
.aboutbox-item .where{
	font-size: 17px;
	display: block;
	font-family: 'fira_sansbook';
	font-weight: normal;
    font-style: normal;
}
.aboutbox-item .period{
	font-size: 15px;
}
.aboutbox .aboutbox-list{
	margin: 0;
	padding: 20px 0 50px 40px;
}
.aboutbox .aboutbox-list.experience{
	padding-top:25px;
}
.aboutbox .aboutbox-list.common{
	padding: 0;
}
.aboutbox-list.experience .aboutbox-item{
	margin-bottom: 30px;
}
.aboutbox .aboutbox-item:last-child{
	margin-bottom: 0;
}
.aboutbox.education{
	margin-bottom: 40px;
}

/*Первый блок*/
.content_header.common{
	display: inline-block;
	margin-bottom: 20px;
}
.img-item{
	float: left;
	margin: 15px 15px 0px 55px;
	width: 145px;
}
.my_photo{
	width: 100%;
	border-radius: 100px; 
    border: 3px solid #35a8bf; 
    box-shadow: 0 0 7px #3C8C9C;
}
.aboutbox-list.common{
	float: left;
}
.aboutbox .aboutbox-list.common .aboutbox-item:last-child{
	position: relative;
}
.request{
	font-family: 'fira_sansmedium';
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	margin: 15px;
	color: #4a545d;
}
.aboutbox-list.common .aboutbox-item{
	margin: 0 0 8px 0;
}
.skills-list{
    float: right;
    margin-right: 20px;
    padding-left: 0;
    padding-top: 5px;
    width: 220px;    
    font-size: 0;
    margin-bottom: 20px;
}
.skill{
	background: linear-gradient(#3ba8c0 11px, #2e8ca2 13px);
	background: rgb(59,168,192);    
    background: -moz-linear-gradient(top,  rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,140,162,1) 50%, rgba(46,140,162,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(59,168,192,1) 0%,rgba(59,168,192,1) 50%,rgba(46,140,162,1) 50%,rgba(46,140,162,1) 100%);
	padding: 3px 15px;
	margin: 5px;
	color: #fff;
	font-family: 'proxima_nova_condensedSBd';
    display: inline-block;
    font-size: 14px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
html.no-cssgradients .skill{background: url(../images/skills-ie.png) 0 0 repeat #2E8CA2;}

.aboutbox-item{
	position: relative;
}
.text{
	padding: 0 0 0 86px;
	line-height: 1.3;
}

/*Спрайт для иконок в контенте*/
.spritesheet {
	background-image: url(../images/education.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 100px;
	/*Выравнивание по вертикали*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%); 
	left: 38px;
}
.sprite-bag {
    width: 36px;
    height: 34px;
    background-position: -5px -5px;
}
.ie8 .sprite-bag{
	position: absolute;
	top: 0px;
	left: 20px;
}
.sprite-hat {
    width: 41px;
    height: 23px;
    background-position: -5px -49px;
}
.ie8 .sprite-hat{
	position: absolute;
	top: 5px;
	left: 20px;
}
.sprite-list {
    width: 26px;
    height: 32px;
    background-position: -5px -82px;
}
.ie8 .sprite-list{
	position: absolute;
	top: 10px;
	left: 30px;
}

/*Конец Контента сайта*/

