
/*Контент сайта*/
.dynamic_info{
	float: left;
}
.content_header{
	color: #3ba8c0;
	margin: 0;
	padding: 12px 12px 12px 25px;
	border-bottom: 2px solid #3ba8c0;
}
.content_header.fira_sansbook{
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
    font-style: normal;

}
.aboutbox-item .fira_sansbook{
	font-family: 'fira_sansbook';
	font-weight: normal;
    font-style: normal;
    color: #4a545d;
}
.aboutbox-item .where.fira_sansbook{
	font-size: 17px;
}
.aboutbox-item .period.fira_sansbook{
	font-size: 15px;
}
.aboutbox{
	width: 650px;
	margin: 20px 0 0 60px;
	background-color: #eff3f7;
	border-radius: 4px;
}
.aboutbox:first-child{
	margin: 40px 0 0 60px;
}
.aboutbox:last-child{
	margin: 20px 0 40px 60px;
}
.aboutbox .aboutbox-list{
	margin: 0;
	padding: 20px 0 50px 50px;
}
.aboutbox .aboutbox-list.common{
	padding-bottom: 0;
}
.aboutbox .aboutbox-item.icon-experience .where{
	padding: 10px;
}
.aboutbox .aboutbox-item{
	margin-bottom: 20px;	
}
.aboutbox .aboutbox-item{
	margin-bottom: 20px;	
}
.aboutbox .aboutbox-item {
	padding: 0 0 0 65px;
}
.aboutbox-list.education .aboutbox-item {
	padding: 0 0 0 84px;
}
.aboutbox .aboutbox-item:last-child{
	margin-bottom: 0;
}
.aboutbox-item .where{
	display: block;
}

/*Первый блок*/
.content_header.common{
	width: 300px;
}
.my_photo{
	float: left;
	margin: 35px 10px 80px 55px;
	width: 150px;
	border-radius: 100px; /* Радиус скругления */
    border: 3px solid #35a8bf; /* Параметры рамки */
    box-shadow: 0 0 7px #3C8C9C; /* Параметры тени */
}
.aboutbox .aboutbox-list.common .aboutbox-item:last-child{
	position: relative;
}
.fira_sansmedium{
	font-family: 'fira_sansmedium';
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	margin: 15px;
	color: #4a545d;
}
.fira_sansbook{
	font-size: 15px;
	margin: 0;
}
.aboutbox-list.common .aboutbox-item{
	margin: 0 0 8px 0;
}
 
.proxima_nova{
	position: absolute;
	left: 360px;
	top:20px;
}

.skills-list{
    float: right;
    margin-right: 20px;
    padding-left: 0;
    padding-top: 5px;
    width: 220px;    
    font-size: 0;
}
.skill{
	background: linear-gradient(#3ba8c0 11px, #2e8ca2 13px);
	background: rgb(59,168,192);    
    background: -moz-linear-gradient(top,  rgba(59,168,192,1) 0%, rgba(59,168,192,1) 50%, rgba(46,140,162,1) 50%, rgba(46,140,162,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(59,168,192,1) 0%,rgba(59,168,192,1) 50%,rgba(46,140,162,1) 50%,rgba(46,140,162,1) 100%);
	padding: 3px 15px;
	margin: 5px;
	color: #fff;
	font-family: 'proxima_nova_condensedSBd';
    display: inline-block;
    font-size: 14px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

html.no-cssgradients .skill{background: url(../images/skills-ie.png) 0 0 repeat #2E8CA2;}

/*Второй блок*/
.content_header.experience{
	width: 168px;
}
.aboutbox-list .icon-experience{
	background: url(../images/bag.png) 1px center no-repeat;
}

/*Третий блок*/
.content_header.education{
	width: 168px;
}
.aboutbox-list .icon-college{
	background: url(../images/hat.png) 1px center no-repeat;
}
.aboutbox-list .icon-course{
	background: url(../images/list.png) 11px center no-repeat;
}

/*Конец Контента сайта*/

