.dynamic_info{
	float: left;
	margin-left: 60px;
	margin-bottom: 40px;
}
.send_project{
	/*overflow: hidden;*/
	position: relative;
	width: 650px;
	background-color: #eff3f7;
	border-radius: 4px;
}
.header_of_sendpro{
	margin: 0;
	padding: 40px 60px;
	color: #fff;
	background-color: #48cbe8;
	font-family: 'fira_sansbook';
	font-weight: normal;
    font-style: normal;
    font-size: 27px;
    border-radius: 3px 3px 0 0;
}
.header_of_sendpro:after{
	position: absolute;
	content: " ";
	top: 120px;
	left: 0;
	width: 650px;
	height: 19px;
	background-color: #67dffa;
}
.form{
	padding: 58px 120px 200px 120px;
}
.text{
	/*margin: 10px;*/
	color:#67dffa;
	border-radius: 3px;
	border:1px solid #67dffa;
	color: #67dffa;
	padding-left: 10px; 
	outline: none;
	font-family: 'fira_sanslight';
    font-size: 13px;
}
.text.message{
	resize: none;
	color:#67dffa;
	border-radius: 3px;
	border:1px solid #67dffa;
	padding: 10px;
	margin-bottom: 10px;
	color: #67dffa;
	outline: none;
	width: 380px;
	height: 163px;
	font-size: 13px;
	font-family: 'fira_sanslight';
}
input::-webkit-input-placeholder {
	color: #67dffa;
	font-size: 13px;
	font-family: 'fira_sanslight';
} 
input::-moz-placeholder {
	color: #67dffa;
	font-size: 13px;
	font-family: 'fira_sanslight';
}
input:-moz-placeholder {
	color: #67dffa;
	font-size: 13px;
	font-family: 'fira_sanslight';
}
input:-ms-input-placeholder {
	color: #67dffa;
	font-size: 13px;
	font-family: 'fira_sanslight';
}
textarea::-webkit-input-placeholder{color:#67dffa;font-size:13px;font-family: 'fira_sanslight';}
textarea::-moz-placeholder{padding:8px;color:#67dffa;font-size:13px;font-family: 'fira_sanslight';}
textarea:-moz-placeholder{padding:8px;color:#67dffa;font-size:13px;font-family: 'fira_sanslight';}
textarea:-ms-input-placeholder{padding:8px;color:#67dffa;font-size:13px;font-family: 'fira_sanslight';}

input::-webkit-input-placeholder       {line-height: 20px;  transition: line-height 0.5s ease;}
input:-ms-input-placeholder            {line-height: 20px;  transition: line-height 0.5s ease;}
input:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
input:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}
.text.message::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.text.message:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}  

.text.name{
	width: 180px;
	height: 39px;
}
.text.email{
	width: 180px;
	height: 37px;
}
.text.code{
	width: 180px;
	height: 30px;
	margin-top: 20px;
}
.label{
	color: #a9abbe;
	font-size: 19px;
	font-family: 'fira_sanslight';
	line-height: 1.4;
}
.label.message{
	font-size: 17px;
}
.button{
	outline: none;
	padding: 0px 20px;
	border-radius: 4px;
	color: #fff;
	font-size: 19px;
	font-family: 'fira_sansbook';
}
.submit-item{
	float: left;
}
.reset-item{
	float: right;
}
.button.submit{
	margin-right: 127px;
	border: 1px solid #48cbe8;
	border-bottom: 2px solid #3ba8c0;
	background-color: #48cbe8;
}
.button.reset{
	border: 1px solid #849db5;
	border-bottom: 2px solid #687b8f;
	background-color: #849db5;
}
.button.submit:active{
	border-bottom-color:transparent;
    border-top: 2px solid #48cbe8;
}
.button.reset:active{
	border-bottom-color:transparent;
	border-top: 2px solid #687b8f;
}
.button.submit:hover{
	border-bottom-color:transparent;
}
.button.reset:hover{
	border-bottom-color:transparent;
}
.item-name{
	width: 200px;
	float: left;
	display: inline-block;
	margin-bottom: 11px;
}
.item-email{
	width: 200px;
	float: right;
	margin-bottom: 15px;
	margin-right: 0;
}
.item-code{
	margin-bottom: 20px;
}
.captcha{
	position: relative;
	width: 180px;
	height: 78px;
	margin-right: 15px;
	margin-bottom: 25px;
	color:#67dffa;
	border-radius: 3px;
	border:1px solid #67dffa;
	color: #67dffa;
	padding-left: 10px; 
	background-color: #fff;
	float: left;
}
.captcha-img{
	position: absolute;
	top: 20px;
	left: 20px;
}
.code-text{
	float: right;
}