body{
	background: url(../images/background.png);
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

/*Прибитый футер*/
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  margin: 0;
}
.container {
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 85px;
}
/*Конец Прибитый футер*/

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear:both;
}

/*Шапка сайта*/
.header{
	height: 119px;
	background-color: #eff3f7;
	/*width: 600px;*/
}
.container-big{
	max-width: 1200px;
	min-width: 970px; 
	/*width: 1000px;*/
	position: relative;
	height: 100%;
	margin: 0 auto;
}
.container-big:after{
	content: '';
	position: absolute;
	top:115px;
	left: 0;
	height: 3px;
	width: 1400px;
	background: linear-gradient(90deg, #fff 50px, #1c667a 700px, #fff 1350px, #fff 400px ) left top repeat-x;; 
	background: url(../images/line.png);
}
.logo{
	float: left;
	margin: 10px;
}
.logo-in-header{
	width: 200px
}
.logo-in-header:hover{
	opacity: 0.8
}
.sicon{
 	float: right;
	margin: 20px;
}
.sicon-list{
	margin: 0;
	padding: 0;
}
.sicon-item{
	display: inline-block;
	margin: 10px;
}
/*Спрайт*/
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
.sprite-facebook {
    width: 47px;
    height: 47px;
    background-position: -5px -5px;
}
.sprite-facebook:hover {
    background-position: -62px -5px;
}
.sprite-gihtub {
    width: 47px;
    height: 47px;
    background-position: -119px -5px;
}
.sprite-gihtub:hover {
    background-position: -176px -5px;
}
.sprite-tw {
    width: 47px;
    height: 47px;
    background-position: -233px -5px;
}
.sprite-tw:hover {
    background-position: -290px -5px;
}
.sprite-vk {
    width: 47px;
    height: 47px;
    background-position: -347px -5px;
}
.sprite-vk:hover {
    background-position: -404px -5px;
}
/*Конец Спрайта*/
/*Конец Шапки сайта*/

/*Контент*/
.page{
	width: 1000px;
	margin: 0 auto;
}

/*Главное меню*/
.static_info{
	float: left;
}
.main_navigation{
	overflow: hidden;
	background-color: #eff3f7;
	width: 250px;
	margin-top: 40px;
	border-radius: 4px;
}
.ul_of_main_navigation{
	margin: 0;padding: 0;
}
.list_of_main_navigation{
	height: 75px;
	margin: 0 11px;
	border-bottom: 2px solid #3ba8c0;
}
.list_of_main_navigation:last-child{
	border-bottom: none;
}
.bottom-lineIE8{
	border-bottom: #eff3f7;
}
.list_of_main_navigation .link_of_main_navigation{
	font-family: 'fira_sansbook';
	font-size: 21px;
	font-weight: normal;
    font-style: normal;
    display: block;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0;
}
.list_of_main_navigation .link_of_main_navigation:hover{
	color: #3ba8c0;
}
.list_of_main_navigation.common {
	background-color: #3ba8c0; 
	border-bottom: none;
	margin: 0;
	padding-left: 11px;
	margin-top: -2px;
}
.list_of_main_navigation.common .link_of_main_navigation{
	color: #fff;
	font-size: 21px;
}
.list_of_main_navigation.common .link_of_main_navigation:hover{
	color: #fff;
}
/*Конец Главного меню*/

/*Контакты*/
.address{
	width: 250px; background-color: #3ba8c0;
	/*margin-left: 220px;*/
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 4px;
}
.header_of_address{
	background-color: #3BA8C0;
	border-radius: 3px 3px 0 0;
	color: #fff;
	padding: 5px 15px 0px 20px;
	margin: 0;
	font-family: 'fira_sansbook';
	font-size: 21px;
	font-weight: normal;
    font-style: normal;
}

/*Спрайт для контактов*/
.sprite-address {
    background-image: url(../images/address.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    padding-left: 18px;
    position: relative;
    top: 15%;
}
.sprite-mail {
    width: 22px;
    height: 18px;
    background-position: -5px -5px;
}
.sprite-skype {
    width: 20px;
    height: 20px;
    background-position: -5px -31px;
}
.sprite-tel {
    width: 19px;
    height: 20px;
    background-position: -5px -61px;
}
/*Конец спрайта для контактов*/

.list_of_address{
	margin: 0; padding: 0;
}
.list_of_address .item_of_address{
	height: 25px;
	padding: 8px 0px 8px 40px;
}
.list_of_address .item_of_address .href{
	color: #fff; 
	/*display: block;*/
	font-family: 'fira_sansbook';
	font-size: 17px;
	font-weight: normal;
    font-style: normal;
}
.list_of_address .href:hover{
	text-decoration: underline;
	cursor: pointer;
}
.mail{
	background-color: #41b9d4; 
}
.tel{
	background-color: #48cbe8;
}
.skype{
	background-color: #51daf8;
	border-radius:  0 0 3px 3px;
}
/*Конец контакотов*/

/*Подвал*/
 .footer{
	/*height: 85px;*/
	background-color: #eff3f7;
	/*height: 100%;*/
}
.container-footer{
	max-width: 1000px; 
	min-width: 960px;
	/*width: 1400px;*/
	margin: 0 auto;
	position: relative;
}
.container-footer:before{
	content: '';
	position: absolute;
	left: 0;
	height: 3px;
	width: 1400px;
	color: #3C21C2;
	background: linear-gradient(90deg, #fff 50px, #1c667a 700px, #fff 1050px ) left top repeat-x;
	background: url(../images/line.png);
}

/*  .container-footer .copyright{
	position: absolute;
	left: 380px;
	padding-top: 30px;
	text-align: center;
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #4a545d;
}
.login{
	position: absolute;
	top:26px;
	left: 50px;
	background: url(../images/login.png) no-repeat; width: 20px; height: 33px;
	display: block;
	height: 40px;
	text-indent: -9999px;
} 
 .login:hover {
 	background: url(../images/login-hover.png) no-repeat;width: 20px; height: 33px
 }  */

 .item-login{
	float: left;
	margin-top: 30px;
}
.item-copyright{
	float: right;
	margin-top: 30px;
	width: 890px;
	text-align: center;
}
.container-footer .copyright{
	width: 100%;
	padding-top: 30px;
	padding: 0 50px;
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #4a545d;
}
.login{
	background: url(../images/login.png) no-repeat; width: 20px; height: 33px;
	display: block;
	height: 40px;
	text-indent: -9999px;
} 
 .login:hover {
 	background: url(../images/login-hover.png) no-repeat;width: 20px; height: 33px
 }  

/*Конец Подвала*/